@model StoreLayer.WEB.Models.ProductViewModel

@{
    ViewBag.Title = "Редактировать авто";
}

<h2>Редактирование автомобиля</h2>

@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Name, "Название")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Description, "Описание")
        <br />
        @Html.EditorFor(m => m.Description)
    </p>
    <p>
        @Html.LabelFor(m => m.Price, "Цена")
        <br />
        @Html.EditorFor(m => m.Price)
    </p>

    <p><input type="submit" value="Отправить" class="btn" /></p>
</fieldset>
}

